// bower:scss
// endbower

@import 'fonts';

/*************************/
/* General global styles */
/*************************/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #2589BD;
}

.clear { clear:both; }

#heroUnit, #galleryUnit, #copyContainer, #thumbsConatainer, footer {
  width: 80%;
  max-width: 800px; 
  margin: 0 auto;
}

/**********************/
/* Page header styles */
/**********************/

header { 
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%; 
  height: 100px; 
  background: #2589BD url('/images/IMG_4465.jpg');
  background-size: cover;
  background-position-x: center; 
  border-bottom: 5px solid #CDC6AE;
  padding: 25px 20px;
  box-sizing: border-box;
  div {
    font-size: 2.0rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 0px;  
    
    a {
      padding: 5px;
      margin-left: 0;
      color: #fff;
      font: 700 2.0rem/1em 'Montserrat', sans-serif;
      letter-spacing: 0em;
      margin-bottom: 0;
      border: 5px solid;
      border-color: rgba(255, 255, 255, 1.0) !important;      
      text-decoration: none;
    }
    span {
      float: right;
      font-size: 1.5rem;
      position:absolute;
      bottom:20px;
      right:20px;
    }
  } 
}

/************************/
/* Hero Carousel styles */
/************************/

#heroUnit, #galleryUnit {
  display: flex;
  flex-direction: column;  
  position: relative;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  margin: 20px auto;
  background-color: #eee;
  border-radius: 6px;
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
  h1 {
    font-size: 2.25rem;
    line-height: 1;
    letter-spacing: -1px;
  }

// Slider styles are shared between Hero and Main Gallery Carousel.
// The id values #heroUnit and #galleryUnit define each in section tag 
  .slider {
    flex: 1;
    // width: 100%;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 50px;
    overflow: hidden;
    .slides { 
        position: relative;
        list-style-type: none;
        
        padding: 0;
        display: flex;
        // overflow: hidden;
        -webkit-padding-start: 0;
        transition:all 0.5s ease-in-out;  
        // transform: transition;
        .slide {
          min-width: 100%;
          // float: left;
          position: relative;
          top:0;right:0;bottom:0;left:0;
          height: auto; 
          .slide-content {                   
            position: relative;
            float: left;
            z-index: 1;
            transition:all 0.5s ease-in-out;  
            // transform: transition;
            // &:hover {
            //   transform: translate(476px,0);
            // }            
            img {
              width:100%;
              height:auto;
              display: block;
            }
            transition:all 0.5s ease-in-out;
            .img-title {
              width: 100%;
              top:0;
              left: 0;
              padding: 15px;
              box-sizing: border-box;
              background: #cc6633;
              color: #fff; 
              text-align: center;
            h4 {
              font-size: 1.5rem;
              line-height:1.75rem;
              margin:0;
              padding: 0;
            }
            p {
              margin:: 0px;
              padding:0;
              font-size: 1.0rem;
              line-height: 1.25rem;
            }           
          }
        }
      }
    }     
  }
  .nav_arrow {
    flex: 1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 1;
    border: 0; 
    box-sizing: border-box;
    background: #fff;
    opacity: 0.5;
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px 0 0;
    &:focus {outline:0;}
    &:hover { background: #2589BD; }
    &.prev {left:0;}
    &.next {right:0;}
    &.disabled {
      opacity: 0.25;
      &:hover {background: buttonface;}        
    }
  }   
}

/********************/
/* Body copy styles */
/********************/

#copyContainer {
  .body-copy {
    padding: 0 40px;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.0rem
    }
  }
} 

/***********************************/
/* Hero Carousel thumbnails styles */
/***********************************/

#thumbsConatainer {
  border-top: 1px solid #999;
  margin-top: 20px;
  text-align: center;

  h2 { padding-left: 40px; text-align: left; }
  .gallery-thumbs {
    margin: 0 20px 0 40px;
    padding: 0;

    display: inline-block;
    list-style-type: none;
    text-align: justify;
    li.thumb {
        float: left;
        cursor: pointer;
        display: inline-block;
        position: relative;
        height: auto;
        padding-right: 3px;
        img {
          border-radius: 5px;
          box-sizing: border-box;
          border: 2px solid #999;
          &:hover { border: 2px solid red; }
        }

    }
  }
}

/*****************/
/* Footer styles */
/*****************/

footer {
  border-top: 1px solid #999;
  margin: 20px auto;
  p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}


/************************/
/* Modal/overlay styles */
/************************/

#overlay {
  display: none;
  position: fixed;
  background: #000;
  opacity: 0.75;
  top:0;bottom:0;left:0;right:0;
  width:100%;
  height: 100%;
  z-index: 10;
  &.overlay-show {display:block;}
  .box {
    position: fixed;
    right:20px;
    top: 20px;
    cursor: pointer;
    background: #DDD;
    // float: left;
    border-radius: 50%;
  }


  .box1 { width: 200px; }
  .box2 { width: 100px; }
  .box3 { width: 20px; }

  svg {
    display: block;
  }

  .close-x {
    stroke: black;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }


  button {
    width: 100px;
    height: 100px;
    padding: 0;
  }  

}

// Adjustments to gallery interface for modal only
// Default styles are dfined above in .slider class 
#galleryUnit {
  display: none;
  position: fixed;
  max-width: 640px; 
  top: 20px;
  left:0;
  right:0;
  z-index: 20;
  &.gallery-show {display:block;}
}

/*********************************************/
/* Media queries - small breakpoint (mobile) */
/*********************************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-width : 480px) {
/* Styles */

/**********************/
/* Page header styles */
/**********************/

  header { 
    height: 80px; 
    border-bottom: 3px solid #CDC6AE;
    padding: 20px 10px 0;
    div {
      font-size: 0.8rem;
      a {
      font-size: 2.0em;
      }
      span {
        font-size: 1.25rem;
        bottom:10px;
      }
    } 
  }

//page width for mobile
#heroUnit, #galleryUnit, #copyContainer, #thumbsConatainer, footer {
  width: 85%;
}

/************************/
/* Hero Carousel styles */
/************************/

#heroUnit, #galleryUnit {
    margin:25px auto;
    padding: 0;
    border-radius: 10px;

  // Slider styles are shared between Hero and Main Gallery Carousel.
  // The id values #heroUnit and #galleryUnit define each in section tag 
    .slider {
      margin: 0;
      .slides { 
          margin: 0;
          .slide {
            min-width: 100%;
            position: relative;
            .slide-content {                   
              .img-title {
                padding: 10px;
              h4 {
                font-size: 1.25rem;
                line-height:1.5rem;
              }
              p {
                font-size: 0.9rem;
                line-height: 1.25rem;
              }           
            }
          }
        }
      }     
    }
    .nav_arrow {
      margin: 0 2px;
      z-index: 10;
      width: 40px;
      height: 40px;
      svg {
      width: 20px;
      height: 20px;        
      }
    }   
  }  

/********************/
/* Body copy styles */
/********************/

  #copyContainer {
    .body-copy {
      padding: 0;
      h2 {
        font-size: 1.25em;
      }
      p {
        font-size: 0.9em;
        line-height: 1.2em;
      }
    }
  } 

/***********************************/
/* Hero Carousel thumbnails styles */
/***********************************/

  #thumbsConatainer {

    h2 { 
      padding-left: 0; 
      font-size: 1.25em;
    }
    .gallery-thumbs {
      margin: 0 10px;
      padding: 0;
    }
  }

/*****************/
/* Footer styles */
/*****************/

footer {
  border-top: 1px solid #999;
  margin: 20px auto;
  p {
    font-size: 0.75rem;
    line-height: 1.0rem;
  }
}


/************************/
/* Modal/overlay styles */
/************************/

  #galleryUnit {
    background: none;
  }

// **end of media query for small break point**
}


